.ui.divider.divider-inline {
  margin: 0!important;
  margin-bottom: -1px!important;
}

.ui.divider.divider-dotted {
  border-top-style: dotted!important;
}

.ui.divider.divider-line {
  width: 50%;
  margin:auto!important;
}

.ui.divider.divider-wide-line {
  width: 100%;
}

.ui.divider.divider-primary {
  border-top-color: #52a6ff!important;
}

.ui.divider.divider-secondary {
  border-top-color: #545b62!important;
}

.ui.divider.divider-simple {
  border-top-color: transparent!important;
}
